{% extends 'sanstha/dashboard.html' %}
{% load static %}
{% block title %}
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
    <link href="{% static 'css/fineCrop.css' %}" rel="stylesheet">
    
<style>
    button{
        outline:none;
    }
</style>
{% endblock %}
{% block content %}
    <div class="container" style="margin:0px">
        <center>
            {% if posts %}
                {% for post in posts %}
            <div class="w3-card-4 w3-center w3-margin w3-hover-shadow w3-round-large" style="padding-bottom:20px;max-width:600px;background:white">
               <a href="/deletepost/{{post.id}}"> <h5 style="margin-left: 80%; padding-top: 2%;"><i class="fa fa-trash " style="color: red;"></i></h5></a>
                <header class="w3-container  w3-round-large">
                    <a href="#" style="margin:10px 0px 0px 10px;display:flex;">
                        <img class="w3-circle" style="height:40px; width:40px" src="/media/{{post.photolink}}" alt="User"
                            title="Click for menu">
                        <h3 style="margin-left:10px;transform:translateY(-5px);color: black;">{{post.name}}</h3><br><br>
                    </a>
                    <h6 class="w3-left w3-small w3-text-gray" style="margin-left:60px;transform:translateY(-20px);user-select: none;">{{post.time}}</h6>
                    <div class="w3-container" style="margin:0px;transform:translateY(-30px)">
                        <br>
                        <p style="font-weight: bold; text-align: left;">{{post.desc}}</p>
                        {% if post.link %} <button class="w3-btn w3-left w3-round-large w3-shadow" style="background-color:#ffeb3b ;"><a style="text-decoration:none; color: black;"href="{{post.link}}" target="_blank">View More &rarr;</a></button>
                        {% endif %}
                    </div>
                </header>
                <div class="w3-container" style="background:white">
                    {% if post.image %}
                    <img src="/media/{{post.image}}" style="border-bottom: 10px;border-radius:5px" height="200" width="200" alt="Avatar">

                    {% endif %}
                </div>
            </div>
            {% endfor %}
           {% else %}
           <h3 style="font-weight: bold;">Nothing To Display!</h3>
     {% endif %}
    </div>

</body>
<script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/fineCrop.js' %}"></script>
<script>
  /*  var loadFile = function (event) {
        var image = document.getElementById('output');
        image.style.display = "block";
        image.src = URL.createObjectURL(event.target.files[0]);
    }; */

    $("#file-input").finecrop({
        viewHeight: 500,
        cropWidth: 200,
        cropHeight: 200,
        cropInput: 'inputImage',
        cropOutput: 'output',
        zoomValue: 50
    });
function del(id){
    $("#"+id).hide();
    $.post("/sanstha/delpost",{
        "csrfmiddlewaretoken":"{{scrf_token}}"
    },function(data,status){
        if(status=="success"){
            console.log("deleted");
        }
    })
}
</script>
{% endblock %}
</html>